<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<script>
	//인덱스 오류남!! 쌤꺼보고 고쳐보기
	$(document).ready(function(){
		
		val boardIdx = $("#boardIdx").val();
		
		$("#btnList").on("click",function(){
			location.href="/board";
		});
		$("#btnEdit").on("click",function(){
			$("#method").val("put");
			var frm = $("#frm")[0];
			frm.action = "/board/"+boardIdx;
			frm.submit();
		});
		$("#btnDel").on("click",function(){
			$("#method").val("delete");
			var frm = $("#frm")[0];
			frm.action = "/board/"+boardIdx;
			frm.submit();
		});
	})
</script>
</head>
<body>
	<header class="container">
		<div class="jumbotron">
			<h2>게시글 확인</h2>
		</div>
	</header>
	<main class="container">
		<div class="row" >
			<div class="col-sm-6 mx-auto">
				<form id="frm" method="POST">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">글 번호</span>
						</div>
						<input type="text" class="form-control" th:value="${data.boardIdx}">
						<div class="input-group-prepend">
							<span class="input-group-text">조회수</span>
						</div>
						<input type="text" class="form-control" th:value="${data.hitCnt}">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">작성자</span>
						</div>
						<input type="text" class="form-control" th:value="${data.createdId}">
						<div class="input-group-prepend">
							<span class="input-group-text">작성일</span>
						</div>
						<input type="text" class="form-control" th:value="${data.createdDatetime}">
					</div>
					<div class="input-group">
						<div class="input-group-text">
							<span class="input-group-text">제목</span>
						</div>
						<input type="text" id="title" name="title" class="form-control" th:value="${data.title}" placeholder="수정시 제목을 입력하세요">
					</div>
					<div class="input-group">
						<textarea rows="5" cols="80" id="contents" name="contents" class="form-control" th:text="${data.contents}" placeholder="수정시 내용을 입력하세요"></textarea>
					</div>
					<!-- 화면에는 보이지 않고 서버에는 전송되는 데이터 -->
					<input type="hidden" name="boardIdx" th:value="${data.boardIdx}">
					<div class="row">
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary btn-block" id="btnList">목록으로</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-success btn-block" id="btnEdit">수정하기</button>
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-danger btn-block" id="btnDel">삭제하기</button>
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>